* {
  margin: 0;
  padding: 0;
}
body,
html {
  height: 100%;
}

#header,
#footer {
  text-align: center;
  line-height: 7rem;
  height: 7rem;
  background: antiquewhite;
  padding: 0 20px;
  overflow: hidden;
}
#header h1,
#footer h1 {
  float: left;
}
#main_artical {
  height: 100%;
  margin: 0px 15rem;
  box-sizing: border-box;
}
@media (max-width: 700px) and (min-width: 300px) {
  #main_artical {
    margin: 1rem;
  }
}
#header #nav,
#footer #nav {
  float: right;
}
#header #nav li,
#footer #nav li {
  cursor: pointer;
  list-style: none;
  float: left;
  margin-right: 20px;
}
#footer {
  margin-top: 12px;
  border-top: solid 1px;
  background: transparent;
}
#footer #nav {
  margin: auto;
  height: 100%;
}
/* #footer #nav ul {
} */
#footer #nav li {
  padding: 0;
}
#header #nav li:hover {
  transform: scale(1.2);
}
.active {
  color: rgb(236 121 103);
}
