#title {
  text-align: center;
}
#title h2 {
  font-weight: 400;
  /* font-size: 30px; */
  line-height: 38px;
  margin-bottom: 1rem;
}
@media (min-width: 840px) {
  .artical_left {
    padding-right: 4.5rem;
  }
}
@media (min-width: 840px) {
  .artical_right {
    margin-top: 0.6rem;
    width: 30rem;
  }
}
#about_contain #artical,
#tenants_contain #artical {
  display: flex;
  padding: 0 20px;
  justify-content: space-between;
}
.artical_right .quote {
  position: relative;
  /* font-size: 21px; */
  min-height: 70px;
  margin-top: 80px;
  margin-bottom: 0;
}
.artical_right p {
  color: #7d003a;
  margin-bottom: 50px;
}
